@model IEnumerable<PaketServisAracTakip.Models.Vehicle>

@{
    ViewData["Title"] = "Araçlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-success">Araçlar</h2>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Araç ekle</a>
</p>
<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Items)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="text-center">
                Olaylar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="w-25">
                    @if (item.Items != null)@item.Items.Split("|")[0]
                </td>
                <td class="w-25">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a> |
                    <a asp-action="LoadItem" asp-route-id="@item.Id">Yükleme Yap</a> |
                    @if (item.Items != null)
                    {
                        <a class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#endMission">
                            Görevi Sonlandır
                        </a>
                        <div class="modal fade" id="endMission" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Görevi Sonlandır</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Görevi sonlandırmak istediğine emin misin?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                        <a asp-action="SaveItem" asp-route-id="@item.Id" class="btn btn-primary">Görevi sonlandır</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <a class="btn disabled p-0">
                            Görevi Sonlandır
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>